h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.button1{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 30px;
background: #1E2D60 !important;
border: #1E2D60 !important;
padding:5px 20px;
}

div{
    font-family: Inter !important;
    
}
.imgMedia{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.txt{
  font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;

}

.tableIcon{
    background: #1E2D60 !important;
    border-radius: 100%;
    color: white;
    position: absolute;
    left: 73px;
    top: 84px;
    border: 1px solid white;
}
