<div class="row p-3" style="    height: 55px;">
    <div class="col-7">
    <h2 >
       Profile
    </h2>
    </div>
    <div class="col-5">
      <ul class="d-flex">
        <li>
            <button type="button" name="" id="" class="btn btn-primary button1" (click)="createNewProject()" >+ Create New Project</button>
        </li>
        <li class="p-2 mx-3">
          <i class="bi bi-bell-fill h4"></i>
        </li>
        <li>
          <ul class="list-unstyled">
            <li class="media">
    <div class="imgMedia">
      <img src="../../../assets/img/Ellipse 32.png"  alt="User Image">
    </div>
              <div class="media-body pl-2 mt-1">
                <p class="m-0">Hello,</p>
                <h4 class="m-0 txt">Deniz Warren</h4>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      </div>
      
    </div>
  
        <!-- /product list -->
        <div class="p-2">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="profile-set">
                        <div class="profile-top">
                            <div class="profile-content">
                                <div class="profile-contentimg">
                                    <img src="../../../assets/img/Ellipse 32.png" alt="img" id="blah">
                                    <div class="profileupload">
                                    </div>
                                </div>
                        </div>
                        <i class="bi bi-pencil-fill p-2 d-flex justify-content-center align-center tableIcon ml-3" (click)="edit()" ></i>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" placeholder="William">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" placeholder="Castilo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" placeholder="william@example.com">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" placeholder="+1452 876 5432">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
